extends layout

block content
  div.container
      h1= title
      p Welcome to our #{title}

      h2 GitHub
      p.git View our source code on github
         a(href='https://github.com/KritterCederholm/overViewCA3') here

      div.well-lg
      h2 Project Descprition
      ul
          li Design descprition (frontend og backend)
          p Frontend:
          p Backend:

          li Who did what:
          p Most of the time the group worked together on the entire project
          p Frontend: Tanja & Bettina
          p Backend: Christoffer & Anders

          li What we added:





